# dependencies
/node_modules

# next.js
/.next/
/out/
/build
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*

# typescript
*.tsbuildinfo

# vercel
.vercel

# scratch authoring workspace (never commit - may hold copyrighted analysis corpora)
.authoring-tmp/
